body {
  /* margin: 0;
  padding: 0;
  overflow-y: scroll; */
  height: 100vh;
  /* width: 100vw; */
}

main {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

/* https://getbootstrap.com/docs/5.2/layout/breakpoints/#media-queries */
@media (min-width: 1400px) {
  main {
    width: 87.65%;
  }
}
